
.sec-react-label-value {
  position: relative;


  .element-wrapper {
    display: flex;

    .se-react-dropdown {
      display: inline-block;
      vertical-align: middle;

      .select {
        position: relative;
      }
    }

    .input-wrapper {
      display: flex;
      border: 1px solid #ccc;
      height: 35px;
      vertical-align: middle;
      margin-left: 10px;
      padding-left: 15px;

      .search-icon {
        width: 16px;
        padding-right: 5px;
      }

      .label {
        font-size: 14px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
      }

      .box {
        font-size: 16px;
        border: none;
        flex: 1;
        padding: 0 10px;
        outline: none;
      }

    }

    .data-clear {
      display: flex;
      margin-left: 10px;
      border: 1px solid #ccc;

      .sync-icon {
        width: 16px;
        padding: 0 8px;
        cursor: pointer;
      }
    }

  }

  .selected-wrapper {
    text-align: left;
    padding: 10px 0 0;
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
      background-color: #f7f7f7;
      padding: 5px 8px;
      color: grey;
      border-radius: 8px;
      font-size: 14px;
      vertical-align: middle;


      &:not(:last-child) {
        margin-right: 5px;

      }

      /*@keyframes example {
        0%   {background-color: #f7f7f7;}
        50%  {background-color: red;}
        100%  {background-color: #f7f7f7;}
      }

      &.animation {
        animation-name: example;
        animation-duration: 0.5s;
        //transition: background-color 0.5s ease;
        //background-color: red;
      }*/

      svg {
        width: 8px;
        margin-left: 5px;
        vertical-align: middle;
        cursor: pointer;
      }

    }

  }


}
