$space-between-rows: 5px;

.date-range-selector {
  position: relative;
  display: inline-block;

  .labels {
    padding: 0 0 $space-between-rows;
    margin: 0;

    label {
      padding: 3px 5px;
      font-size: 14px;
    }

    span {
      list-style: none;
      display: inline-block;
      background-color: grey;
      border-radius: 8px;
      padding: 3px 5px;
      font-size: 12px;
      cursor: pointer;


      &:not(:last-child) {
        margin-right: 5px;

      }
    }

  }

  .box-container {
    padding-bottom: $space-between-rows;
    cursor: pointer;

    svg {
      width: 18px;
      height: 18px;
      vertical-align: middle;
      margin-right: 5px;
      padding-bottom: 2px;
    }

    input {
      border-radius: 8px;
      border: 1px solid grey;
      font-size: 14px;
      max-width: 80px;
      padding: 3px 5px;
      cursor: pointer;
    }
  }

  .date-range-picker {
    position: absolute;
    left: 0;
    background-color: white;

    [class^=DateRangePicker] {
      margin: 0;
    }

  }
}
